@page
@using Microsoft.AspNetCore.Mvc.Localization
@model RegisterModel
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Localization;
@using BookStore
@inject IStringLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = "Register";
    Layout = "~/areas/Identity/Pages/_AuthLayout.cshtml";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="required">@SharedLocalizer["First Name"]</label>
                <input asp-for="Input.FirstName" class="form-control" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="required">@SharedLocalizer["First Name"]</label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Input.Email" class="required"></label>
        <input asp-for="Input.Email" class="form-control" />
        <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="required">@SharedLocalizer["Password"]</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="required">@SharedLocalizer["Confirm Password"]</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">@SharedLocalizer["Register"]</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
