@model BookStore.Models.Book
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Globalization
@using Microsoft.AspNetCore.Localization;
@using Microsoft.Extensions.Localization;

@inject IViewLocalizer Localizer

@inject IHtmlLocalizer<SharedResource> SharedLocalizer
@{
    ViewData["Title"] = Localizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Details"]</h1>

<div>
    <h4>Book @SharedLocalizer["Hello"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Writtenyear)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Writtenyear)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Edition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Edition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
